html,
body {
  background-color: #bdc1c8;
}

.App {
  text-align: center;
  /* height: 100%; */
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #181717;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  outline: 1px solid lime;
}

.btnContainer {
  display: flex;
  width: 100%;
  /* max-width: ; */
  justify-content: center;
}

.btnStyle {
  padding: 1rem 1rem;
  margin: 0.5rem;
  width: 8rem;
  border-radius: 3rem;
  border: 0;
}

.btnStyle:hover {
  background-color: aqua;
  box-shadow: 0.3em 0.3em 1em darkcyan;
}
.chartContainer {
  padding: 2rem 10rem;
  display: flex;
  margin: 2rem;
  justify-content: center;
  box-shadow: 0.3em 0.3em 1em darkcyan;
}
