html,
body {
  background-color: #bdc1c8;
}

:root {
  --primary: green;
}

.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  color: var(--primary);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* * {
  outline: 1px solid lime;
} */

.btnContainer {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

.btnStyle {
  padding: 0.5rem 0.5rem;
  margin: 0.5rem;
  width: 8rem;
  border-radius: 3rem;
  border: 2px solid green;
  background-color: transparent;
  color: inherit;
}

.btnStyle:hover {
  background-color: rgb(99, 225, 120);
  box-shadow: 0.3em 0.3em 1em darkcyan;
}
.chartContainer {
  padding: 2rem 10rem;
  display: flex;
  margin: auto;
  justify-content: center;
  box-shadow: 0.3em 0.3em 1em rgb(140, 156, 156);
  max-width: 100vh;
  background-color: antiquewhite;
  text-align: center;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: relative;
}
